*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.users{
    // padding: 9em;
    padding: 4rem;
    background-color:  #f9f9f9;
    a{
        text-decoration: none;
    }
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // gap: 10rem;
        gap: 4rem;
        list-style: none;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border: 1px solid white ;
            padding: 2rem;
            border-radius: 0.6rem;
            background-color: white;
            color: black;
        }
    }
}